<!DOCTYPE html>
<html>
    <head>
        <title>Please Wait</title>
        <link href={{"https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"}} rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>
        <div class="columns is-centered">
            <div class="page-success">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <h1 class="title has-text-centered">There seems to be some error on our side :(</h1>
    
                        <img src={{'https://media.tenor.com/Gqy4WGxrMv0AAAAC/try-again.gif'}} alt="success">
    
                        <p class="has-text-centered mb-6">please try again</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>